<!--
        This is the mobile view section of the todo app
 -->

<section class="w-full h-screen bg-blue-300 md:hidden">
  <div class="w-full flex items-center justify-between h-16 bg-white" #navbar>
    <div class="mt-1 ml-2 flex flex-row gap-x-2 bg-white items-center px-2 py-1">
      <div class="w-12 h-12 rounded-full bg-yellow-300 flex items-center justify-center">
        <button class="w-full h-full flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </button>
      </div>
      <h1 class="text-xl">Litelist</h1>
    </div>
    <div class="w-12 h-12 bg-yellow-300 rounded-full mr-2 mt-1">

    </div>
  </div>
</section>
